<aside style="height: 112dvh !important;" class="fixed inset-y-0 flex-wrap items-center justify-between block w-full p-0 my-4 overflow-y-auto antialiased transition-transform duration-200 -translate-x-full bg-white border-0 shadow-xl dark:shadow-none dark:bg-slate-850 max-w-64 ease-nav-brand z-990 xl:ml-6 rounded-2xl xl:left-0 xl:translate-x-0" aria-expanded="false">
  <div class="overflow-hidden max-w-[84%]">
    <i
      class="absolute top-0 right-0 p-4 opacity-50 cursor-pointer fas fa-times dark:text-white text-slate-400 xl:hidden"
      (click)="sharedService.toggleMenu()"
    ></i>

    <a class="flex flex-wrap items-center px-4 py-6 m-0 text-sm text-slate-700 dark:text-white">
      <!-- Logo -->
      <img
        *ngIf="!sharedService.company.logoURL || sharedService.company?.logoURL == ''"
        src="assets/img/workSync-logo-small.svg"
        alt="main_logo"
        style="border-radius: 15%"
        class="logo-image object-cover rounded-[15%] flex-shrink-0 dark:hidden"
      />
      <img
        *ngIf="!sharedService.company.logoURL || sharedService.company?.logoURL == ''"
        src="assets/img/workSync-logo-small-dark.svg"
        alt="main_logo"
        style="border-radius: 15%"
        class="logo-image object-cover rounded-[15%] hidden flex-shrink-0 dark:inline"
      />
      <img
        *ngIf="sharedService.company.logoURL && sharedService.company.logoURL != ''"
        [src]="sharedService.company.logoURL"
        style="border-radius: 15%"
        alt="main_logo"
        class="logo-image object-cover rounded-[15%] flex-shrink-0"
      />

      <!-- Company name -->
      <span
        class="ml-2 font-semibold leading-snug text-wrap break-words overflow-hidden text-ellipsis max-w-[75%]"
      >
      {{ sharedService.company.name }}
    </span>
    </a>
  </div>


  <hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent" />

  <div class="items-center block w-auto max-h-screen overflow-auto h-sidenav grow basis-full" style="height: 75%;">
    <ul class="flex flex-col pl-0 mb-0">
      <li class="mt-0.5 w-full">
        <a id="dashboard-link" class="py-2.7 dark:text-white dark:opacity-80 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 transition-colors" (click)="navigate('dashboard','navbar_screen_title_dashboard')">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">{{ "link_dashboard" | translate }}</span>
        </a>
      </li>

      <li class="mt-0.5 w-full">
        <a id="profile-link" class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" (click)="navigate('dashboard/profile','navbar_screen_title_manage_profile')">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">{{ "link_profile" | translate}}</span>
        </a>
      </li>

      <li class="mt-0.5 w-full">
        <a id="document-link" class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" (click)="navigate('dashboard/documents','navbar_screen_title_manage_documents')">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="fa fa-file-text" aria-hidden="true"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">{{ "link_document" | translate}}</span>
        </a>
      </li>

      <li class="mt-0.5 w-full">
        <a id="event-link" class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" (click)="navigate('dashboard/events','navbar_screen_title_events')">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">{{ "home_nav_bar_events_link" | translate}}</span>
        </a>
      </li>

      <li class="w-full mt-4" *ngIf="sharedService?.principal?.role == Role.ADMIN">
        <h6 class="pl-6 ml-2 text-xs font-bold leading-tight uppercase dark:text-white opacity-60">{{ "sidebar_manage_company_section" | translate}}</h6>
      </li>

      <li class="mt-0.5 w-full" *ngIf="sharedService?.principal?.role == Role.ADMIN">
        <a id="company-link" class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" (click)="navigate('dashboard/company','navbar_screen_title_manage_company')">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="fa fa-info" aria-hidden="true"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">{{ "link_company_details" | translate }}</span>
        </a>
      </li>

      <li class="w-full mt-4" *ngIf="sharedService?.principal?.role == Role.ADMIN || sharedService?.principal?.role == Role.MANAGER">
        <h6 class="pl-6 ml-2 text-xs font-bold leading-tight uppercase dark:text-white opacity-60">{{ "sidebar_manage_users_section" | translate}}</h6>
      </li>

      <li class="mt-0.5 w-full" *ngIf="sharedService?.principal?.role == Role.ADMIN || sharedService?.principal?.role == Role.MANAGER">
        <a id="teams-link" (click)="navigate('dashboard/teams','navbar_screen_title_manage_teams')" class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="fa fa-address-card" aria-hidden="true"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">{{ "link_manage_teams" | translate}}</span>
        </a>
      </li>
      <li class="mt-0.5 w-full" *ngIf="sharedService?.principal?.role == Role.ADMIN || sharedService?.principal?.role == Role.MANAGER">
        <a id="users-link" (click)="navigate('dashboard/users','navbar_screen_title_manage_users')" class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">{{ "link_manage_users" | translate}}</span>
        </a>
      </li>
      <li class="mt-0.5 w-full" *ngIf="sharedService?.principal?.role == Role.ADMIN || sharedService?.principal?.role == Role.MANAGER">
        <a id="holidays-link" (click)="navigate('dashboard/holidays','navbar_screen_title_manage_holidays')" class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="fa fa-suitcase" aria-hidden="true"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">{{ "home_nav_bar_holiday_link" | translate}}</span>
        </a>
      </li>



      <li class="mt-0.5 w-full">
        <a (click)="doLogout()" class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">{{ "link_logout" | translate }}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="fixed bottom-0 left-0 w-full flex justify-center">
    <div id="document-guide"
      class="bg-white dark:bg-slate-850 rounded-t-2xl overflow-hidden transition-all duration-500 ease-in-out"
      [class.max-h-0]="!showGuide"
      [class.max-h-96]="showGuide"
      [class.opacity-0]="!showGuide"
      [class.opacity-100]="showGuide"
      style="width: 84%;"
    >
      <div class="p-4 text-center" style="padding-bottom: 33px !important;">
        <img src="assets/img/icon-documentation.svg" alt="guide" class="mx-auto w-1/2" />
        <a
          (click)="openGuide()"
          target="_blank"
          class="inline-block px-8 py-2 mt-4 mb-2 text-xs font-bold text-white bg-slate-700 rounded-lg transition-all ease-in hover:shadow-lg"
        >
          {{ "button_documentation" | translate}}
        </a>
      </div>
    </div>
  </div>

  <button (click)="toggleGuide()" class="dark:bg-gradient-to-tl dark:bg-slate-900 dark:text-white hover:shadow-xs pt-2 bg-white bottom-0 flex-auto w-full p-2 pt-0 text-center fixed mb-0 text-xs font-semibold leading-tight dark:text-white dark:opacity-60">
    {{ "button_need_guide" | translate }}
  </button>
</aside>
