<p-dialog
  appendTo="body"
  [dismissableMask]="true"
  class="dark:dark-dialog"
  [header]="'view_order_chart_dialog_title' | translate"
  [modal]="true"
  [(visible)]="doShowOrderChart"
  [style]="{ width: '90%' }"
  (onHide)="hideDialog()">
  <div class="card flex justify-center overflow-x-auto">
    <div *ngFor="let root of data; let last = last">
      <p-organization-chart [value]="[root]" [collapsible]="true">
        <ng-template let-node pTemplate="person">
          <div [title]="node.data.email" [ngClass]="{'p-organizationchart-node-selected': user?.email == node.data.email}" class="flex items-center gap-2 p-2 rounded-lg shadow bg-white ">
            <img [src]="node.data.image" class="w-10 h-10 rounded-full" />
            <div>
              <div class="font-semibold text-sm" *ngIf="node.data.teamName">{{ node.data.teamName }}</div>
              <div class="font-semibold text-sm">{{ node.data.name }}</div>
              <div class="text-xs text-gray-500">{{ node.data.title }}</div>
            </div>
          </div>
        </ng-template>
      </p-organization-chart>
      <hr *ngIf="!last" class="h-px my-6 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent " />
    </div>
  </div>
</p-dialog>
