@media (min-width: 1025px) {
  .xl\:ml-68 {
    margin-left: 3rem !important;
  }
  #dropdownMenu{
    width: 390px;
  }
  #dropdownMenuSettings{
    width: 390px;
  }
  .p-confirmdialog{
    max-width: 30% !important;
  }
}
