<div class="container">
  <div class="flex flex-wrap -mx-3 -mt-48 md:-mt-56 lg:-mt-48">
    <div class="w-full max-w-full px-3 mx-auto mt-0 md:flex-0 shrink-0 md:w-7/12 lg:w-5/12 xl:w-4/12">
      <div class="relative z-0 flex flex-col min-w-0 break-words bg-white border-0 shadow-xl rounded-2xl bg-clip-border">
        <div class="p-6 mb-0 text-center bg-white border-b-0 rounded-t-2xl">
          <h5> {{ "auth_signup_first_title" | translate }}</h5>
        </div>
        <form [formGroup]="companyFormGroup" role="form text-left">
        <div class="flex-auto p-6">
            <div class="mb-4">
              <input formControlName="name" type="text" (keydown.enter)="signUp()"
                     [ngClass]="{'invalid-form': isSignedUp && companyFormGroup.get('name')?.errors?.['required']}"
                     class="placeholder:text-gray-500 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="{{ 'input_company_name_placeholder' | translate}}" aria-label="Company name" aria-describedby="company-name" />
            </div>
        </div>
          <span *ngIf="usedCompanyName" style="color: rgb(245 75 74)" class="text-xs leading-tight dark:text-white/80"><span class="font-semibold">{{ "auth_signup_used_company_name_error_message" | translate}} !</span></span>
        </form>
        <div class="flex flex-wrap px-3 -mx-3 sm:px-6 xl:px-12">
          <div class="relative w-full max-w-full px-3 mt-2 text-center shrink-0">
            <p class="z-20 inline px-4 mb-2 font-semibold leading-normal bg-white text-sm text-slate-400">
              {{ "auth_signup_second_title" | translate }}
            </p>
          </div>
        </div>
        <div class="flex-auto p-6">
          <form [formGroup]="userFormGroup"  role="form text-left">
            <div class="mb-4">
              <input formControlName="firstname" type="text" (keydown.enter)="signUp()"
                     [ngClass]="{'invalid-form': isSignedUp && userFormGroup.get('firstname')?.errors?.['required']}"
                     class="placeholder:text-gray-500 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="{{ 'input_first_name_placeholder' | translate}}" />
            </div>
            <div class="mb-4">
              <input formControlName="lastname" type="text" (keydown.enter)="signUp()"
                     [ngClass]="{'invalid-form': isSignedUp && userFormGroup.get('lastname')?.errors?.['required']}"
                     class="placeholder:text-gray-500 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="{{ 'input_second_name_placeholder' | translate}}"/>
            </div>
            <div class="mb-4">
              <input formControlName="email" type="email" (keydown.enter)="signUp()"
                     [ngClass]="{'invalid-form': isSignedUp && (userFormGroup.get('email')?.errors?.['email'] || userFormGroup.get('email')?.errors?.['required'])}"
                     class="placeholder:text-gray-500 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="{{ 'input_email_placeholder' | translate}}"/>
              <span *ngIf="usedEmail" style="color: rgb(245 75 74)" class="text-xs leading-tight dark:text-white/80"><span class="font-semibold">{{ "auth_signup_used_email_error_message" | translate}} !</span></span>
            </div>
            <div class="text-center">
              <button (click)="signUp()" type="button" class="inline-block w-full px-5 py-2.5 mt-6 mb-2 font-bold text-center text-white align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer active:opacity-85 hover:-translate-y-px hover:shadow-xs leading-normal text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25 bg-gradient-to-tl from-zinc-800 to-zinc-700 hover:border-slate-700 hover:bg-slate-700 hover:text-white">{{ "button_signup" | translate}}</button>
            </div>
            <p class="mt-4 mb-0 leading-normal text-sm">{{ "auth_signup_already_have_account" | translate}} <a [routerLink]="['/auth/login']" class="font-bold text-slate-700">{{ "link_sign_in" | translate}}</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
