<div class="w-full p-6 mx-auto" xmlns="http://www.w3.org/1999/html">
  <div class="flex flex-wrap -mx-3">
    <div class="w-full max-w-full px-3 shrink-0 md:w-8/12 md:flex-0">
      <div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
        <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-6 pb-0">
          <div class="flex items-center">
            <p class="mb-0 dark:text-white/80">{{ "manage_profile_edit_profile_details_title" | translate}}</p>
            <button type="button" [disabled]="canChangePassword" (click)="doChangePassword = true" class="inline-block px-8 py-2 mb-4 ml-auto font-bold leading-normal text-center text-white align-middle transition-all ease-in border-0 rounded-lg shadow-md cursor-pointer text-xs tracking-tight-rem hover:shadow-xs hover:-translate-y-px active:opacity-85" style="background-color: rgb(45 56 135) !important;">{{ 'button_get_rest_password' | translate}}</button>
            <button type="button" *ngIf="showSaveButton" (click)="saveChanges()" class="inline-block px-8 py-2 mb-4 ml-auto font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-blue-500 border-0 rounded-lg shadow-md cursor-pointer text-xs tracking-tight-rem hover:shadow-xs hover:-translate-y-px active:opacity-85" style="margin-left: 10px;">{{ 'button_save' | translate }}</button>
          </div>
        </div>
        <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-6 pt-0 pb-0">
          <div class="flex items-center">
            <a  (click)="doChangeProfilePicture = true" style="padding-left: 0px !important;" class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 flex items-center whitespace-nowrap px-4 transition-colors">
              <div style="padding-left: 0px;padding-right: 0px;" class="flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </div>
              <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">{{ "link_edit_profile_picture" | translate}}</span>
            </a>

            <a  (click)="doShowOrderChart = true" style="padding-left: 0px !important;" class="ml-auto dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 flex items-center whitespace-nowrap px-4 transition-colors">
              <div style="padding-left: 0px;padding-right: 0px;" class="flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </div>
              <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">{{ "link_view_order_chart" | translate}}</span>
            </a>
          </div>
        </div>
        <form [formGroup]="formGroup" (keyup)="setUserDetails()">
        <div class="flex-auto p-6">
          <p class="leading-normal uppercase dark:text-white dark:opacity-60 text-sm">{{ 'manage_profile_edit_user_information_title' | translate }}</p>
          <label *ngIf="isSaveButtonClicked && formGroup.invalid" class="inline-block mb-2 ml-1 text-xs text-slate-700 dark:text-white/80" style="color: rgb(245, 75, 74) !important;">{{ 'manage_profile_edit_profile_required_fields_error' | translate}}</label>

          <div class="flex flex-wrap -mx-3">
            <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
              <div class="mb-4">
                <label for="first-name" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_profile_edit_first_name_title' | translate}}</label>
                <input type="text" name="first-name" formControlName="firstname" [ngClass]="{ 'border-red-500': isSaveButtonClicked && formGroup.get('firstname')?.errors?.['required']}" class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              </div>
            </div>
            <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
              <div class="mb-4">
                <label for="last-name" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_profile_edit_last_name_title' | translate}}</label>
                <input type="text" name="last-name" formControlName="lastname" [ngClass]="{ 'border-red-500': isSaveButtonClicked && formGroup.get('lastname')?.errors?.['required']}" class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              </div>
            </div>
            <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
              <div class="mb-4">
                <label for="email" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_profile_edit_email_title' | translate}}</label>
                <input type="email" name="email" formControlName="email" class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              </div>
            </div>
            <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
              <div class="mb-4">
                <label for="date-of-birth" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_profile_edit_date_birth_title' | translate}}</label>
                <p-datePicker (onSelect)="setUserDetails()"
                              formControlName="dateOfBirth"
                              [ngClass]="{ 'border-red-500': isSaveButtonClicked && formGroup.get('dateOfBirth')?.errors?.['required']}" dateFormat="dd.mm.yy" class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border-solid border-gray-300 bg-white bg-clip-padding font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"/>
              </div>
            </div>


          </div>
          <hr class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent ">

          <p class="leading-normal uppercase dark:text-white dark:opacity-60 text-sm">{{ 'manage_profile_edit_contact_information_title' | translate}}</p>
          <div class="flex flex-wrap -mx-3">
            <div class="w-full max-w-full px-3 shrink-0 md:w-full md:flex-0">
              <div class="mb-4">
                <label for="address" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_profile_edit_address_title' | translate}}</label>
                <input type="text" name="address" formControlName="address" [ngClass]="{ 'border-red-500': isSaveButtonClicked && formGroup.get('address')?.errors?.['required']}" class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              </div>
            </div>
            <div class="w-full max-w-full px-3 shrink-0 md:w-4/12 md:flex-0">
              <div class="mb-4">
                <label for="city" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_profile_edit_city_title' | translate}}</label>
                <input type="text" name="city" formControlName="city" [ngClass]="{ 'border-red-500': isSaveButtonClicked && formGroup.get('city')?.errors?.['required']}" class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              </div>
            </div>
            <div class="w-full max-w-full px-3 shrink-0 md:w-4/12 md:flex-0">
              <div class="mb-4">
                <label for="country" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_profile_edit_country_title' | translate}}</label>
                <input type="text" name="country" formControlName="country" [ngClass]="{ 'border-red-500': isSaveButtonClicked && formGroup.get('country')?.errors?.['required']}" class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              </div>
            </div>
            <div class="w-full max-w-full px-3 shrink-0 md:w-4/12 md:flex-0">
              <div class="mb-4">
                <label for="postal-code" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_profile_edit_postal_code_title' | translate}}</label>
                <input type="text" name="postal-code" formControlName="postCode" [ngClass]="{ 'border-red-500': isSaveButtonClicked && formGroup.get('postCode')?.errors?.['required']}" class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              </div>
            </div>
          </div>
          <hr class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent ">

          <p class="leading-normal uppercase dark:text-white dark:opacity-60 text-sm">{{ 'manage_profile_edit_qualifications_title' | translate}}</p>
          <div class="flex flex-wrap -mx-3">
            <div class="w-full max-w-full px-3 shrink-0 md:w-full md:flex-0">
              <div class="mb-4">
                <label for="degree" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_profile_edit_degree_title' | translate}}</label>
                <input type="text" name="degree" formControlName="degree" [ngClass]="{ 'border-red-500': isSaveButtonClicked && formGroup.get('degree')?.errors?.['required']}" class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              </div>
            </div>
            <div class="w-full max-w-full px-3 shrink-0 md:w-full md:flex-0">
              <div class="mb-4">
                <label for="title" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_profile_edit_job_title_title' | translate}}</label>
                <input type="text" name="title" formControlName="title" [ngClass]="{ 'border-red-500': isSaveButtonClicked && formGroup.get('title')?.errors?.['required']}" class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
    <div class="w-full max-w-full px-3 mt-6 shrink-0 md:w-4/12 md:flex-0 md:mt-0" *ngIf="user">
      <app-profile [(user)]="user"></app-profile>
    </div>
  </div>
</div>

<p-dialog *ngIf="doChangePassword"
          [dismissableMask]="true"
          [header]="'auth_reset_password_title' | translate"
          [modal]="true"
          [(visible)]="doChangePassword"
          [style]="{ width: '25rem' }">
  <app-reset-password (isChanged)="doChangePassword = false" [redirectionPath]="'/dashboard/profile'" [useCurrentPassword]="true"></app-reset-password>
</p-dialog>

<app-upload-file-dialog (newUser)="setPrincipal($event)" [(doChangeProfilePicture)]="doChangeProfilePicture"></app-upload-file-dialog>
<app-order-chart *ngIf="doShowOrderChart" [(doShowOrderChart)]="doShowOrderChart"></app-order-chart>
