#selenium-messages {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2222;
  transition: opacity 0.5s ease-in-out;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
}
