<div class="mb-4" *ngIf="useCurrentPassword">
  <input [(ngModel)]="currentPassword" (input)="validateCurrentPassword()" type="password" class="placeholder:text-gray-500 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" [placeholder]="'input_current_password_placeholder' | translate" aria-label="current password"/>
</div>
<div class="mb-4">
  <input [(ngModel)]="password" (input)="validatePassword()" type="password" class="placeholder:text-gray-500 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" [placeholder]="'input_password_placeholder' | translate" aria-label="password"/>
</div>
<div class="mb-4">
  <input [(ngModel)]="confirmPassword" (input)="validateConfirmPassword()"
         [ngClass]="{ 'border-red-500': !passwordsMatch && confirmPassword.length > 0, 'border-green-500': passwordsMatch }"

         type="password" class="placeholder:text-gray-500 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" [placeholder]="'input_password_confirm_placeholder' | translate" aria-label="confirm password"/>
</div>

  <p class="mb-0 text-xs leading-tight dark:text-white dark:opacity-80 text-slate-400" [class.valid]="conditions.minLength">{{ "auth_reset_password_required_length_message" | translate}}</p>
  <p class="mb-0 text-xs leading-tight dark:text-white dark:opacity-80 text-slate-400" [class.valid]="conditions.upperCase">{{ "auth_reset_password_required_upper_message" | translate}}</p>
  <p class="mb-0 text-xs leading-tight dark:text-white dark:opacity-80 text-slate-400" [class.valid]="conditions.lowerCase">{{ "auth_reset_password_required_lower_message" | translate}}</p>
  <p class="mb-0 text-xs leading-tight dark:text-white dark:opacity-80 text-slate-400" [class.valid]="conditions.number">{{ "auth_reset_password_required_digits_message" | translate}}</p>
  <p class="mb-0 text-xs leading-tight dark:text-white dark:opacity-80 text-slate-400" [class.valid]="conditions.specialChar">{{ "auth_reset_password_required_special_message" | translate}}</p>


<p *ngIf="!passwordsMatch && confirmPassword.length > 0" class="mb-0 text-xs leading-tight dark:text-white dark:opacity-80 text-slate-400">
  Passwords do not match
</p>
<div class="text-center">
  <button type="button" class="inline-block w-full px-5 py-2.5 mt-6 mb-2 font-bold text-center text-white align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer active:opacity-85 hover:-translate-y-px hover:shadow-xs leading-normal text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25 bg-gradient-to-tl from-zinc-800 to-zinc-700 hover:border-slate-700 hover:bg-slate-700 hover:text-white">{{ "button_get_rest_password" | translate}}</button>
</div>
