ul {
  list-style: none;
  padding: 0;
}
p {
  color: rgb(245 75 74);
}
p.valid {
  color: rgb(45 206 137);
}

.border-red-500 {
  border-color: rgb(245 75 74) !important;
}
.border-green-500 {
  border-color: rgb(45 206 137) !important;
}
