  <div class="flex flex-wrap -mx-3">
    <!-- card1 -->
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
      <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-60">{{ 'summary_cards_company_header' | translate }}</p>
                <h5 [title]="companySummary?.company?.name" class="mb-2 font-bold dark:text-white ellipsis-custom">{{ companySummary?.company?.name }}</h5>
                <p title="{{ companySummary?.company?.at | date:'dd-MM-yyyy' }}" class="mb-0 dark:text-white dark:opacity-60 ellipsis-custom">
                  {{ 'summary_cards_company_since' | translate}} {{ companySummary?.company?.at | date:'dd-MM-yyyy' }}
                </p>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-circle">
                <img
                  *ngIf="!sharedService.company.logoURL || sharedService.company?.logoURL == ''"
                  src="assets/img/workSync-logo-small.svg"
                  alt="main_logo"
                  style="border-radius: 15%;width: 50px;object-fit: cover;"
                  class="logo-image object-cover rounded-[15%] flex-shrink-0 dark:hidden"
                />
                <img
                  *ngIf="!sharedService.company.logoURL || sharedService.company?.logoURL == ''"
                  src="assets/img/workSync-logo-small-dark.svg"
                  alt="main_logo"
                  style="border-radius: 15%;width: 50px;object-fit: cover;"
                  class="logo-image object-cover rounded-[15%] hidden flex-shrink-0 dark:inline"
                />
                <img
                  *ngIf="sharedService.company.logoURL && sharedService.company.logoURL != ''"
                  [src]="sharedService.company.logoURL"
                  style="border-radius: 15%;width: 50px;object-fit: cover;"
                  alt="main_logo"
                  class="logo-image object-cover rounded-[15%] flex-shrink-0"
                />

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- card2 -->
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
      <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-60">{{ 'summary_cards_company_creator_header' |translate }}</p>
                <h5 [title]="companySummary?.companyCreator?.firstname + ' ' + companySummary?.companyCreator?.lastname" class="mb-2 font-bold dark:text-white ellipsis-custom">{{companySummary?.companyCreator?.firstname}} {{companySummary?.companyCreator?.lastname}}</h5>
                <p [title]="companySummary?.companyCreator?.email" class="mb-0 dark:text-white dark:opacity-60 ellipsis-custom">
                  {{ companySummary?.companyCreator?.email }}
                </p>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-circle">
                <img
                  [src]=" companySummary?.companyCreator?.profilePictureUrl "
                  [alt]="companySummary?.companyCreator?.firstname + ' ' + companySummary?.companyCreator?.lastname"
                  [title]="companySummary?.companyCreator?.firstname + ' ' + companySummary?.companyCreator?.lastname + '(' + companySummary?.companyCreator?.email + ')'"
                  style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover;" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- card3 -->
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4" *ngIf="companySummary?.teamManager">
      <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-60">{{ 'summary_cards_manager_header' |translate }}</p>
                <h5 [title]="companySummary?.teamManager?.firstname + ' ' + companySummary?.teamManager?.lastname" class="mb-2 font-bold dark:text-white ellipsis-custom">{{companySummary?.teamManager?.firstname}} {{companySummary?.teamManager?.lastname}}</h5>
                <p [title]="companySummary?.teamManager?.email" class="mb-0 dark:text-white dark:opacity-60 ellipsis-custom">
                  {{ companySummary?.teamManager?.email }}
                </p>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-circle">
                <img
                  [src]=" companySummary?.teamManager?.profilePictureUrl "
                  [alt]="companySummary?.teamManager?.firstname + ' ' + companySummary?.teamManager?.lastname"
                  [title]="companySummary?.teamManager?.firstname + ' ' + companySummary?.teamManager?.lastname + '(' + companySummary?.teamManager?.email + ')'"
                  style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover;" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- card4 -->
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4" *ngIf="companySummary?.team">
      <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-60">{{ 'summary_cards_team_header' |translate }}</p>
                <h5 [title]="companySummary?.team?.name" class="mb-2 font-bold dark:text-white ellipsis-custom">{{companySummary?.team?.name}}</h5>
                <p [title]="companySummary?.team?.description" class="mb-0 dark:text-white dark:opacity-60 ellipsis-custom">
                  <span *ngIf="(companySummary == null || companySummary.teamMembers == null
                    || companySummary.teamMembers?.length == 0); else notEmpty" class="text-sm font-bold leading-normal text-red-600">0</span>
                  <ng-template #notEmpty>
                    <span  class="text-sm font-bold leading-normal text-emerald-500">{{ companySummary?.teamMembers?.length }}</span>
                    </ng-template>
                  {{ (companySummary &&
                      companySummary.teamMembers &&
                      companySummary.teamMembers.length > 1 ?
                      'summary_cards_team_members' : 'summary_cards_team_member') | translate }}
                </p>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-circle">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap mt-6 -mx-3">

    <div class="w-full max-w-full px-3 pt-5 mt-0 mb-6 lg:mb-0 lg:w-7/12 lg:flex-none" *ngIf="companySummary && companySummary.teamMembers.length > 0">
      <div class="relative flex flex-col min-w-0 break-words bg-white border-0 border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl dark:bg-gray-950 border-black-125 rounded-2xl bg-clip-border">
        <div class="p-4 pb-0 mb-0 rounded-t-4">
          <div class="flex justify-between">
            <h6 class="mb-2 dark:text-white">{{ 'summary_cards_team_members_header' | translate }}</h6>
          </div>
        </div>
        <div class="overflow-x-auto ps pt-4" style="min-height: 48dvh;overflow: auto !important;">
          <div  *ngIf="companySummary.teamMembers.length > 0; else emptyList" class="container flex items-center justify-start py-0 flex-wrap-inherit">
            <ul *ngFor="let teamMember of companySummary.teamMembers"
                class="flex flex-row justify-end pl-0 mb-0 list-none md-max:w-full">
              <li class="flex items-center px-2">
                <div class="flex flex-col items-center gap-1">
                  <img
                    [src]="teamMember.profilePictureUrl"
                    [alt]="teamMember.firstname + ' ' + teamMember.lastname"
                    style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;" />

                  <div class="text-center text-slate-700 dark:text-white/80">
                    {{ teamMember.firstname }} {{ teamMember.lastname }}
                    <br>
                    {{ teamMember.email }}
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <ng-template #emptyList>
            <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-slate-850 rounded-2xl bg-clip-border">
              <div class=" text-center py-2 px-3 text-gray-500 text-xs" style="padding-top: 10% !important;">{{ 'book_holiday_empty_to_list_message' | translate}}</div>
            </div>
          </ng-template>
          <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
      </div>
    </div>

    <div class="w-full max-w-full px-3 pt-5 lg:w-5/12 lg:flex-none" style="height: 100dvh;" *ngIf="companySummary?.team">
      <div class="relative w-full h-full overflow-hidden rounded-2xl">
        <div class="absolute w-full h-full transition-all duration-500" style="transform: translateX(0%);">
          <img class="object-cover h-full w-full" src="assets/img/team-background.png" alt="carousel image">
          <div class="block text-start ml-12 left-0 bottom-0 absolute right-[15%] pt-5 pb-5 text-white">
            <h5 class="mb-1 text-white text-light">{{ companySummary?.team?.name }}</h5>
            <p class="dark:opacity-80 text-light">{{ companySummary?.team?.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full max-w-full px-3 pt-5 mt-0 mb-6 lg:mb-0 lg:w-7/12 lg:flex-none"  *ngIf="companySummary && companySummary.lastDocuments.length > 0">
      <div class="relative flex flex-col min-w-0 break-words bg-white border-0 border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl dark:bg-gray-950 border-black-125 rounded-2xl bg-clip-border">
        <div class="p-4 pb-0 mb-0 rounded-t-4">
          <div class="flex justify-between">
            <h6 class="mb-2 dark:text-white">{{ 'summary_cards_recent_documents_header' | translate }}</h6>
          </div>
        </div>
        <div class="overflow-x-auto ps" style="min-height: 48dvh;overflow: auto !important;">
          <table class="items-center w-full mb-4 align-top border-collapse border-gray-200 dark:border-white/40" *ngIf="companySummary && companySummary.lastDocuments.length > 0; else emptyList">
            <tbody>
            <tr *ngFor="let document of companySummary?.lastDocuments" [title]="document.description"
                style="cursor: pointer" (click)="downloadDocument(document)">
              <td class="p-2 align-middle bg-transparent border-b w-3/10 whitespace-nowrap dark:border-white/40 max-width-custom">
                <div class="flex items-center px-2 py-1">
                  <img *ngIf="document.type == 'pdf'"
                       src="assets/img/pdf-icon.jpg"
                       title="pdf file"
                       style="width: 25px;" />

                  <img  *ngIf="document.type == 'doc'"
                        src="assets/img/doc-icon.png"
                        title="doc file"
                        style="width: 25px;" />

                  <img  *ngIf="document.type == 'docx'"
                        src="assets/img/docx-icon.png"
                        title="docx file"
                        style="width: 25px;" />

                  <img  *ngIf="document.type != 'docx' && document.type != 'doc' && document.type != 'pdf'"
                        src="assets/img/image-icon.png"
                        [title]="'image file .' + document.type "
                        style="width: 25px;" />
                  <div class="ml-6">
                    <p class="mb-0 text-xs font-semibold leading-tight dark:text-white dark:opacity-60">{{ 'summary_cards_recent_documents_name_title' | translate }}:</p>
                    <h6 class="mb-0 text-sm leading-normal dark:text-white">{{ document.name }}</h6>
                  </div>
                </div>
              </td>
              <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                <div class="text-center">
                  <p class="mb-0 text-xs font-semibold leading-tight dark:text-white dark:opacity-60">{{ 'summary_cards_recent_documents_size_title' | translate }}</p>
                  <h6 class="mb-0 text-sm leading-normal dark:text-white">{{ document.size }}</h6>
                </div>
              </td>
              <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                <div class="text-center">
                  <h6 class="mb-0 text-sm leading-normal dark:text-white">{{ document.at | date:'short'}}</h6>
                </div>
              </td>
              <td class="p-2 text-sm leading-normal align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                <div class="flex-1 text-center">
                  <img
                    [src]=" document.from.profilePictureUrl "
                    [alt]="document.from.firstname + ' ' + document.from.lastname"
                    [title]="document.from.firstname + ' ' + document.from.lastname + '(' + document.from.email + ')'"
                    style="width: 40px;height: 40px;border-radius: 50%;object-fit: cover;" />

                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <ng-template #emptyList>
            <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-slate-850 rounded-2xl bg-clip-border">
              <div class=" text-center py-2 px-3 text-gray-500 text-xs" style="padding-top: 10% !important;">{{ 'book_holiday_empty_to_list_message' | translate}}</div>
            </div>
          </ng-template>
          <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
      </div>
    </div>

    <div class="w-full max-w-full px-3 pt-5 mt-0 lg:w-5/12 lg:flex-none">
      <div class="border-black/12.5 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
        <div class="p-4 pb-0 rounded-t-4">
          <h6 class="mb-0 dark:text-white">{{ 'summary_cards_event_header' | translate }}</h6>
        </div>
        <div class="flex-auto p-4">
          <ul class="flex flex-col pl-0 mb-0 rounded-lg">
            <li class="relative flex justify-between py-2 pr-4 mb-2 border-0 rounded-t-lg rounded-xl text-inherit">
              <div class="flex items-center">
                <div class="inline-block w-8 h-8 mr-4 text-center text-black bg-center shadow-sm fill-current stroke-none bg-gradient-to-tl from-zinc-800 to-zinc-700 dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 rounded-xl">
                  <i class="text-white fa fa-thumb-tack relative top-0.75 text-xxs"></i>
                </div>
                <div class="flex flex-col">
                  <h6 class="mb-1 text-sm leading-normal text-slate-700 dark:text-white">{{ 'summary_cards_event_task_title' | translate }}</h6>
                  <span class="text-xs leading-tight dark:text-white/80">
                    <span class="font-semibold">
                      {{ companySummary?.eventNumbers['taskNumber'] }}
                    </span>
                    {{ 'summary_cards_event_task_label' | translate }}
                  </span>
                </div>
              </div>
              <div class="flex">
                <button (click)="getEventsDetails(EventType.TASK)" class="group ease-in leading-pro text-xs rounded-3.5xl p-1.2 h-6.5 w-6.5 mx-0 my-auto inline-block cursor-pointer border-0 bg-transparent text-center align-middle font-bold text-slate-700 shadow-none transition-all dark:text-white"><i class=" ease-bounce text-2xs group-hover:translate-x-1.25 fa fa-angle-right transition-all duration-200" aria-hidden="true"></i></button>
              </div>
            </li>
            <li class="relative flex justify-between py-2 pr-4 mb-2 border-0 rounded-xl text-inherit">
              <div class="flex items-center">
                <div class="inline-block w-8 h-8 mr-4 text-center text-black bg-center shadow-sm fill-current stroke-none bg-gradient-to-tl from-zinc-800 to-zinc-700 dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 rounded-xl">
                  <i class="text-white fa fa-users relative top-0.75 text-xxs"></i>
                </div>
                <div class="flex flex-col">
                  <h6 class="mb-1 text-sm leading-normal text-slate-700 dark:text-white">{{ 'summary_cards_event_meeting_title' | translate }}</h6>
                  <span class="text-xs leading-tight dark:text-white/80">
                    <span class="font-semibold">
                      {{ companySummary?.eventNumbers['meetingNumber'] }}
                    </span>
                    {{ 'summary_cards_event_meeting_label' | translate }}
                  </span>
                </div>
              </div>
              <div class="flex">
                <button (click)="getEventsDetails(EventType.MEETING)" class="group ease-in leading-pro text-xs rounded-3.5xl p-1.2 h-6.5 w-6.5 mx-0 my-auto inline-block cursor-pointer border-0 bg-transparent text-center align-middle font-bold text-slate-700 shadow-none transition-all dark:text-white"><i class=" ease-bounce text-2xs group-hover:translate-x-1.25 fa fa-angle-right transition-all duration-200" aria-hidden="true"></i></button>
              </div>
            </li>
            <li class="relative flex justify-between py-2 pr-4 mb-2 border-0 rounded-b-lg rounded-xl text-inherit">
              <div class="flex items-center">
                <div class="inline-block w-8 h-8 mr-4 text-center text-black bg-center shadow-sm fill-current stroke-none bg-gradient-to-tl from-zinc-800 to-zinc-700 dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 rounded-xl">
                  <i class="text-white fa fa-coffee relative top-0.75 text-xxs"></i>
                </div>
                <div class="flex flex-col">
                  <h6 class="mb-1 text-sm leading-normal text-slate-700 dark:text-white">{{ 'summary_cards_event_activity_title' | translate }}</h6>
                  <span class="text-xs leading-tight dark:text-white/80">
                    <span class="font-semibold">
                      {{ companySummary?.eventNumbers['activityNumber'] }}
                    </span>
                    {{ 'summary_cards_event_activity_label' | translate }}
                  </span>
                </div>
              </div>
              <div class="flex">
                <button (click)="getEventsDetails(EventType.ACTIVITY)" class="group ease-in leading-pro text-xs rounded-3.5xl p-1.2 h-6.5 w-6.5 mx-0 my-auto inline-block cursor-pointer border-0 bg-transparent text-center align-middle font-bold text-slate-700 shadow-none transition-all dark:text-white"><i class=" ease-bounce text-2xs group-hover:translate-x-1.25 fa fa-angle-right transition-all duration-200" aria-hidden="true"></i></button>
              </div>
            </li>
            <li class="relative flex justify-between py-2 pr-4 border-0 rounded-b-lg rounded-xl text-inherit">
              <div class="flex items-center">
                <div class="inline-block w-8 h-8 mr-4 text-center text-black bg-center shadow-sm fill-current stroke-none bg-gradient-to-tl from-zinc-800 to-zinc-700 dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 rounded-xl">
                  <i class="text-white fa fa-calendar relative top-0.75 text-xxs"></i>
                </div>
                <div class="flex flex-col">
                  <h6 class="mb-1 text-sm leading-normal text-slate-700 dark:text-white">{{ 'summary_cards_event_event_title' | translate }}</h6>
                  <span class="text-xs leading-tight dark:text-white/80">
                    <span class="font-semibold">
                       {{ companySummary?.eventNumbers['eventNumber'] }}
                    </span>
                    {{ 'summary_cards_event_event_label' | translate }}
                  </span>
                </div>
              </div>
              <div class="flex">
                <button (click)="getEventsDetails(EventType.EVENT)" class="group ease-in leading-pro text-xs rounded-3.5xl p-1.2 h-6.5 w-6.5 mx-0 my-auto inline-block cursor-pointer border-0 bg-transparent text-center align-middle font-bold text-slate-700 shadow-none transition-all dark:text-white"><i class=" ease-bounce text-2xs group-hover:translate-x-1.25 fa fa-angle-right transition-all duration-200" aria-hidden="true"></i></button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>




  <p-dialog
    appendTo="body"
    *ngIf="showEventDetailsDialog"
    [dismissableMask]="true"
    class="dark:dark-dialog"
    [header]="'view_event_dialog_header' | translate"
    [modal]="true"
    [(visible)]="showEventDetailsDialog"
    [style]="{ width: '45rem' }"
    (onHide)="showEventDetailsDialog = false">
    <div class="card flex justify-center">

    <div *ngFor="let eventDetailsToView of eventsToViewList">
      <div class="flex flex-wrap -mx-3">
            <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
              <div class="mb-4">
                <label for="event-title" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_event_event_title_input_placeholder' | translate}}</label>
                <p id="event-title">{{ eventDetailsToView?.title }}</p>
              </div>
            </div>
            <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
              <div class="mb-4">
                <label for="event-type" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_event_event_event_type_label' | translate}}</label>
                <p id="event-type">{{ eventDetailsToView?.eventType?.toLowerCase() }}</p>
              </div>
            </div>
            <div class="w-full max-w-full px-3 shrink-0 md:w-12/12 md:flex-0">
              <div class="mb-4">
                <label for="event-description" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_event_event_description_text_aria_title' | translate}}</label>
                <p id="event-description">{{ eventDetailsToView?.description }}</p>
              </div>
            </div>
            <div class="w-full max-w-full px-3 shrink-0 md:w-12/12 md:flex-0">
              <div class="mb-4">
                <p class="inline-block mb-2 ml-1 text-xs text-slate-700 dark:text-white/80"
                   [innerHTML]="'manage_event_time_details_message' | translate: {
                           type: eventDetailsToView?.eventType ,
                           organizerName:( eventDetailsToView?.organizer?.firstname + ' ' + eventDetailsToView?.organizer?.lastname),
                           at: getDate(eventDetailsToView.at),
                           from: getDate(eventDetailsToView.from),
                           to: getDate(eventDetailsToView.to)
               }"></p>
              </div>
            </div>
            <div class="w-full max-w-full px-3 shrink-0 md:w-12/12 md:flex-0">
              <div class="mb-4">
                <label for="event-participants" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_event_event_participants_list' | translate}}</label>
                <div id="event-participants" class="container flex items-center justify-start py-0 flex-wrap-inherit">
                  <ul *ngFor="let eventParticipant of eventDetailsToView?.participants"
                      class="flex flex-row justify-end pl-0 mb-0 list-none md-max:w-full">
                    <li class="flex items-center px-2">
                      <div class="flex flex-col items-center gap-1">
                        <img
                          [src]="eventParticipant.profilePictureUrl"
                          [alt]="eventParticipant.firstname + ' ' + eventParticipant.lastname"
                          style="width: 50px;height: 50px; border-radius: 50%; object-fit: cover;" />

                        <div class="text-center text-xs text-slate-700 dark:text-white/80">
                          {{ eventParticipant.firstname }} {{ eventParticipant.lastname }}
                          <br>
                          {{ eventParticipant.email }}
                          <br>
                          <b style="font-size: 8px;">{{ eventParticipant.role }}</b>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      <hr
        class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent ">

    </div>
    </div>
  </p-dialog>
