<div class="w-full p-6 mx-auto" xmlns="http://www.w3.org/1999/html">
  <div class="flex flex-wrap -mx-3">
    <div class="w-full max-w-full px-3 shrink-0 md:w-12/12 md:flex-0">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
        <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-6 pb-0">
          <div class="flex items-center">
            <p class="mb-0 dark:text-white/80">{{ "book_holiday_header" | translate }}</p>
            <a (click)="showAddDialog = true;getAllCompanyUsers(true)"
               class="ml-auto dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand flex items-center whitespace-nowrap px-4 transition-colors">
              <div class="flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </div>
              <span class="duration-300 opacity-100 pointer-events-none ease">{{ "link_add_event" | translate }}</span>
            </a>
          </div>
        </div>
        <hr
          class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent ">
        <div class="flex-auto p-6">
          <div class="flex gap-4">
            <div style="flex:1;">
              <full-calendar #fullcalendar [options]="calendarOptions" ngZone="noop"></full-calendar>
              <div class="float-right pt-4">
                <div class="flex gap-6 mb-4">
                  <div class="flex items-center pr-2 gap-2">
                    <span class="w-4 h-4 inline-block rounded" style="background-color:#9C27B0"></span>
                    <span>Activity</span>
                  </div>

                  <div class="flex items-center pr-2 gap-2">
                    <span class="w-4 h-4 inline-block rounded" style="background-color:#607D8B"></span>
                    <span>Meeting</span>
                  </div>

                  <div class="flex items-center pr-2 gap-2">
                    <span class="w-4 h-4 inline-block rounded" style="background-color:#41a5a3"></span>
                    <span>Event</span>
                  </div>

                  <div class="flex items-center pr-2 gap-2">
                    <span class="w-4 h-4 inline-block rounded" style="background-color:#3788d8"></span>
                    <span>Task</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  *ngIf="showAddDialog"
  [dismissableMask]="true"
  class="dark:dark-dialog"
  [header]="'add_new_event_dialog_header' | translate"
  [modal]="true"
  [(visible)]="showAddDialog"
  [style]="{ width: '45rem' }"
  (onHide)="showAddDialog = false">
  <div class="card flex justify-center">
    <div class="flex flex-wrap">
      <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
        <input [(ngModel)]="newEventTitle" type="text"
               [ngClass]="{ 'border-red-500': selectEventTitleError }"
               placeholder="{{ 'manage_event_event_title_input_placeholder' | translate}}"
               class="placeholder:text-gray-500 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow"/>
      </div>
      <div class="w-full max-w-full px-3 shrink-0 md:w-4/12 md:flex-0">
        <p-select
          [options]="eventTypes"
          [(ngModel)]="selectedEventType"
          (onChange)="getAllCompanyUsers(false)"
          [placeholder]=" 'book_holiday_select_holiday_type_placeholder' | translate"
          [ngClass]="{ 'border-red-500' : selectEventTypeError }"
          optionLabel="label"
          optionValue="value"
          [showClear]="true"
          [filter]="false">
          <ng-template let-value pTemplate="selectedItem">
            {{ value.label }}
          </ng-template>
          <ng-template let-value pTemplate="item">
            {{ value.label }}
          </ng-template>
        </p-select>
      </div>
    </div>
    <br>


    <div class="flex flex-wrap">
      <div class="w-full max-w-full px-3 shrink-0 md:w-12/12 md:flex-0">
        <p-ifta-label>
          <textarea class="w-100 dark:bg-slate-850" pTextarea id="eventDescription" [(ngModel)]="newEventDescription"
                    rows="5" cols="30" style="resize: none"></textarea>
          <label for="eventDescription">{{ 'manage_event_event_description_text_aria_title' | translate }}</label>
        </p-ifta-label>
      </div>
      <div class="w-full max-w-full px-3 shrink-0 md:w-12/12 md:flex-0 py-4">
        <p-multiSelect [options]="groupedUsers"
                       [ngClass]="{ 'border-red-500': selectUsersError }"
                       [group]="true" [(ngModel)]="selectedUsers"
                       [placeholder]=" 'manage_event_add_event_select_participant_placeholder' | translate"
                       scrollHeight="250px" display="chip" class="w-full md:w-80">
          <ng-template let-group #group>
            <div class="flex items-center">
              <span>{{ group.label }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </div>
    </div>
    <br>


    <div class="flex flex-wrap">
      <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
        <div class="mb-4">
          <label for="date-of-start"
                 class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_event_add_event_date_from_placeholder' | translate }}</label>
          <p-datePicker [(ngModel)]="newEventDateFrom"
                        (onSelect)="newEventDateFrom  = resetTime(newEventDateFrom.setHours(0, 0, 0, 0))"
                        [ngClass]="{ 'border-red-500-datepicker': selectEventDateFromError }"
                        dateFormat="dd.mm.yy"
                        class="dark:dark-calendar-bg dark:dark-calendar-text focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border-solid border-gray-300 bg-white bg-clip-padding font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"/>
        </div>
      </div>
      <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
        <div class="mb-4">
          <label for="date-of-end"
                 class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_event_add_event_date_to_placeholder' | translate }}</label>
          <p-datePicker [(ngModel)]="newEventDateTo"
                        (onSelect)="newEventDateTo  = resetTime(newEventDateTo.setHours(0, 0, 0, 0))"
                        [ngClass]="{ 'border-red-500-datepicker': selectEventDateToError }"
                        dateFormat="dd.mm.yy"
                        class="dark:dark-calendar-bg dark:dark-calendar-text focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border-solid border-gray-300 bg-white bg-clip-padding font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"/>
        </div>
      </div>
    </div>


    <hr
      class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent ">

    <button style="display: flex;" type="button" (click)="addEvent()"
            class="inline-block px-8 py-2 mb-4 ml-auto font-bold leading-normal text-center text-white align-middle transition-all ease-in border-0 rounded-lg shadow-md cursor-pointer text-xs tracking-tight-rem hover:shadow-xs hover:-translate-y-px active:opacity-85 second-button-background-style">
      {{ 'button_create_event' | translate }}
    </button>

  </div>
</p-dialog>


<p-dialog
  *ngIf="showEditDialog"
  [dismissableMask]="true"
  class="dark:dark-dialog"
  [header]="'edit_event_dialog_header' | translate"
  [modal]="true"
  [(visible)]="showEditDialog"
  [style]="{ width: '45rem' }"
  (onHide)="showAddDialog = false">
  <div class="card flex justify-center">
    <form [formGroup]="formGroupEdit">
      <div class="flex flex-wrap">
        <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
          <input formControlName="title" type="text"
                 [ngClass]="{ 'border-red-500': selectEventTitleError }"
                 placeholder="{{ 'manage_event_event_title_input_placeholder' | translate}}"
                 class="placeholder:text-gray-500 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow"/>
        </div>
        <div class="w-full max-w-full px-3 shrink-0 md:w-4/12 md:flex-0">
          <p-select
            [options]="eventTypes"
            formControlName="type"
            (onChange)="getAllCompanyUsers(false)"
            [placeholder]=" 'book_holiday_select_holiday_type_placeholder' | translate"
            [ngClass]="{ 'border-red-500' : selectEventTypeError }"
            optionLabel="label"
            optionValue="value"
            [showClear]="true"
            [filter]="false">
            <ng-template let-value pTemplate="selectedItem">
              {{ value.label }}
            </ng-template>
            <ng-template let-value pTemplate="item">
              {{ value.label }}
            </ng-template>
          </p-select>
        </div>
      </div>
      <br>


      <div class="flex flex-wrap">
        <div class="w-full max-w-full px-3 shrink-0 md:w-12/12 md:flex-0">
          <p-ifta-label>
            <textarea class="w-100 dark:bg-slate-850" pTextarea id="eventDescription" formControlName="description"
                      rows="5" cols="30" style="resize: none"></textarea>
            <label for="eventDescription">{{ 'manage_event_event_description_text_aria_title' | translate }}</label>
          </p-ifta-label>
        </div>
        <div class="w-full max-w-full px-3 shrink-0 md:w-12/12 md:flex-0 py-4">
          <p-multiSelect [options]="groupedUsers"
                         [ngClass]="{ 'border-red-500': selectUsersError }"
                         [group]="true" formControlName="participantEmails"
                         [placeholder]=" 'manage_event_add_event_select_participant_placeholder' | translate"
                         scrollHeight="250px" display="chip" class="w-full md:w-80">
            <ng-template let-group #group>
              <div class="flex items-center">
                <span>{{ group.label }}</span>
              </div>
            </ng-template>
          </p-multiSelect>
        </div>
      </div>
      <br>


      <div class="flex flex-wrap">
        <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
          <div class="mb-4">
            <label for="date-of-start"
                   class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_event_add_event_date_from_placeholder' | translate }}</label>
            <p-datePicker formControlName="from"
                          (onSelect)="formGroupEdit.controls['from'].setValue(resetTime(formGroupEdit.get('from')?.value?.setHours(0, 0, 0, 0)))"
                          [ngClass]="{ 'border-red-500-datepicker': selectEventDateFromError }"
                          dateFormat="dd.mm.yy"
                          class="dark:dark-calendar-bg dark:dark-calendar-text focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border-solid border-gray-300 bg-white bg-clip-padding font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"/>
          </div>
        </div>
        <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
          <div class="mb-4">
            <label for="date-of-end"
                   class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_event_add_event_date_to_placeholder' | translate }}</label>
            <p-datePicker formControlName="to"
                          (onSelect)="formGroupEdit.controls['to'].setValue(resetTime(formGroupEdit.get('to')?.value?.setHours(0, 0, 0, 0)))"
                          [ngClass]="{ 'border-red-500-datepicker': selectEventDateToError }"
                          dateFormat="dd.mm.yy"
                          class="dark:dark-calendar-bg dark:dark-calendar-text focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border-solid border-gray-300 bg-white bg-clip-padding font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"/>
          </div>
        </div>
      </div>


      <hr
        class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent ">
      <div style="display: flex;" class="ml-auto text-right">
        <a (click)="doConfirmDelete($event)" class="relative z-10 inline-block px-4 py-2.5 mb-0 font-bold text-center text-transparent align-middle transition-all border-0 rounded-lg shadow-none cursor-pointer leading-normal text-sm ease-in bg-150 bg-gradient-to-tl from-red-600 to-orange-600 hover:-translate-y-px active:opacity-85 bg-x-25 bg-clip-text" href="javascript:;">
          <i class="mr-2 fa fa-times bg-150 bg-gradient-to-tl from-red-600 to-orange-600 bg-x-25 bg-clip-text"></i>{{ 'link_delete_event' | translate}}
        </a>
        <button style="display: flex;" type="button" (click)="editEvent()"
                class="inline-block px-8 py-2 mb-4 ml-auto font-bold leading-normal text-center text-white align-middle transition-all ease-in border-0 rounded-lg shadow-md cursor-pointer text-xs tracking-tight-rem hover:shadow-xs hover:-translate-y-px active:opacity-85 second-button-background-style">
          {{ 'button_save' | translate }}
        </button>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  *ngIf="showEventDetailsDialog"
  [dismissableMask]="true"
  class="dark:dark-dialog"
  [header]="'edit_event_dialog_header' | translate"
  [modal]="true"
  [(visible)]="showEventDetailsDialog"
  [style]="{ width: '45rem' }"
  (onHide)="showAddDialog = false">
  <div class="card flex justify-center">


    <div class="flex flex-wrap -mx-3">
      <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
        <div class="mb-4">
          <label for="event-title" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_event_event_title_input_placeholder' | translate}}</label>
          <p id="event-title">{{ eventDetailsToView?.title }}</p>
        </div>
      </div>
      <div class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
        <div class="mb-4">
          <label for="event-type" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_event_event_event_type_label' | translate}}</label>
          <p id="event-type">{{ eventDetailsToView?.eventType?.toLowerCase() }}</p>
        </div>
      </div>
      <div class="w-full max-w-full px-3 shrink-0 md:w-12/12 md:flex-0">
        <div class="mb-4">
          <label for="event-description" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_event_event_description_text_aria_title' | translate}}</label>
          <p id="event-description">{{ eventDetailsToView?.description }}</p>
        </div>
      </div>
      <div class="w-full max-w-full px-3 shrink-0 md:w-12/12 md:flex-0">
        <div class="mb-4">
          <p class="inline-block mb-2 ml-1 text-xs text-slate-700 dark:text-white/80"
             [innerHTML]="'manage_event_time_details_message' | translate: {
                       type: eventDetailsToView.eventType ,
                       organizerName:( eventDetailsToView.organizer?.firstname + ' ' + eventDetailsToView.organizer?.lastname),
                       at: getDate(eventDetailsToView.at),
                       from: getDate(eventDetailsToView.from),
                       to: getDate(eventDetailsToView.to)
           }"></p>
        </div>
      </div>
      <div class="w-full max-w-full px-3 shrink-0 md:w-12/12 md:flex-0">
        <div class="mb-4">
          <label for="event-participants" class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">{{ 'manage_event_event_participants_list' | translate}}</label>
          <div id="event-participants" class="container flex items-center justify-start py-0 flex-wrap-inherit">
            <ul *ngFor="let eventParticipant of eventDetailsToView?.participantEmails"
                class="flex flex-row justify-end pl-0 mb-0 list-none md-max:w-full">
              <li class="flex items-center px-2">
                <div class="flex flex-col items-center gap-1">
                  <img
                    [src]="eventParticipant.profilePictureUrl"
                    [alt]="eventParticipant.firstname + ' ' + eventParticipant.lastname"
                    style="width: 50px; border-radius: 50%; object-fit: cover;" />

                  <div class="text-center text-xs text-slate-700 dark:text-white/80">
                    {{ eventParticipant.firstname }} {{ eventParticipant.lastname }}
                    <br>
                    {{ eventParticipant.email }}
                    <br>
                    <b style="font-size: 8px;">{{ eventParticipant.role }}</b>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<p-confirmDialog />
