@use 'large' as *;
@use 'small' as *;

:root {
  --dashboard_header_background-color: rgb(102 109 228);
  --first_button_background-color: rgb(102 109 228);
  --first_button_disabled_background-color: rgb(170, 174, 238);
  --second_button_background-color: rgb(45 56 135);
  --second_button_disabled_background-color: rgb(120, 130, 180);
  --selected_menu_li_text_color: rgb(52 71 103 / 1);
  --selected_menu_li_background_color: rgb(94 114 228 / 0.13);
}
html:not(.dark) .checked\:checkbox-bg:checked{
  background-color: var(--second_button_background-color);
}
html:not(.dark) .breadcrumb-text-color li,
html:not(.dark) .breadcrumb-text-color .p-select-label,
html:not(.dark) .breadcrumb-text-color li a{
  .ease{
    background-color: var(--second_button_background-color) !important;
  }
  color: var(--second_button_background-color) !important;
}
#dropdownMenu{
  border: 1px solid var(--dashboard_header_background-color) !important;
}
#dropdownMenuSettings{
  border: 1px solid var(--dashboard_header_background-color) !important;
}
.to-gold {
  --tw-gradient-to: rgb(218, 165, 32);
}
.from-dark-gold{
  --tw-gradient-from: rgba(218, 165, 32, 0.15);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.selected-nav-menu {
  color: var(--selected_menu_li_text_color);
  background-color: var(--selected_menu_li_background_color);
}

.header-background-style{
  background-color: var(--dashboard_header_background-color) !important;
}
html:not(.dark) .first-button-background-style{
  background-color: var(--first_button_background-color) !important;
}
app-branding p-fileupload{
  .p-fileupload-header{
    padding: 0px;
  }
}

html:not(.dark) app-branding p-fileupload{
  .p-fileupload-content{
    padding: 0px !important;
    .p-fileupload-file-actions{
      display: none !important;
    }
  }
  button{
    background-color: var(--second_button_background-color) !important;
    border: 0px;
    span{
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
    }
  }
}
html:not(.dark) .first-button-background-style:disabled{
  background-color: var(--first_button_disabled_background-color) !important;
}
html:not(.dark) .second-button-background-style{
  background-color: var(--second_button_background-color) !important;
}
html:not(.dark) .second-button-background-style:disabled{
  background-color: var(--second_button_disabled_background-color) !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.dark .dark\:upload-file-custom {
  .p-fileupload-advanced,
  .p-fileupload-header{
    background-color: transparent !important;
  }
}

.dark .dark\:dark-calendar-bg {
  input {
    --tw-bg-opacity: 1;
    background-color: rgb(17 28 68 / var(--tw-bg-opacity)) !important;
  }
}

.dark .dark\:dark-calendar-text {
  input{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}

.dark .dark\:dark-dialog {
  .p-dialog,.p-dialog-content input,p-select{
    --tw-bg-opacity: 1;
    background-color: rgb(17 28 68 / var(--tw-bg-opacity)) !important;
  }
  .p-fileupload{
    --tw-bg-opacity: 1;
    background-color: rgb(108 117 125 / var(--tw-bg-opacity));
    .p-fileupload-content{
      color: rgb(233 236 239 / var(--tw-bg-opacity));
    }
  }
  .p-dialog-header,.p-dialog-header-actions p-button button{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}

.dark .dark\:dark-table{
  input{
    --tw-bg-opacity: 1;
    background-color: rgb(17 28 68 / var(--tw-bg-opacity)) !important;
  }
  th,td,p-paginator,p-select,.p-select-list-container{
    --tw-bg-opacity: 1;
    background-color: rgb(17 28 68 / var(--tw-bg-opacity));
    color: rgb(255 255 255 / var(--tw-text-opacity));
    border-color: rgb(17 28 68 / var(--tw-bg-opacity));
  }
}
app-body{
  p-select{
    background-color: transparent !important;
    border-color: transparent !important;
  }
}
app-navbar{
  p-select{
    background-color: transparent !important;
    border-color: transparent !important;
  }
  p-select:hover{
    border-color:rgb(255 255 255 / 1) !important;
  }
  .p-select-dropdown{
    display: none;
  }
  .p-select-label{
    color:rgb(255 255 255 / 1) !important;
  }
  p-selectitem{
    font-size: 12px;
  }
}
::-webkit-scrollbar-thumb {
  background: rgba(74, 70, 70, 0.86) !important;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.p-fileupload-advanced {
  border: 0px solid transparent !important;
}

p-button .p-fileupload-choose-button{
  background: #2D3887 !important;
  border: 1px solid #2D3887;
}
.p-organizationchart-node-selected{
  color: #2D3887 !important;
}

.p-listbox .p-listbox-list .p-listbox-option.p-listbox-option-selected,
.p-datatable-filter-constraint-selected,
.p-paginator-page.p-paginator-page-selected{
  background: rgba(84, 93, 152, 0.13) !important;
  color: #2D3887 !important;
}
a {
  all: unset;
  cursor: pointer;
}
.card{
  all: unset;
}
.p-select-option.p-select-option-selected {
    background: #d5c972 !important;
    color: #000000f0 !important;
}

.p-inputtext:focus {
  border-color: inherit !important;
}
.p-select:not(.p-disabled).p-focus {
  border-color: inherit !important;
}
.invalid-form{
  border-color: rgb(245 75 74) !important;
}
.spinner-overlay {
  background-color: rgb(0 0 0 / 36%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  backdrop-filter: blur(1px);
}

.p-button-link {
  color: #344767 !important;
}
.p-button-link:hover {
  color: #7b7c46 !important;
}
.p-button-link:not(:disabled):hover .p-button-label {
  text-decoration: none !important;
}
.resend-code-button{
  display: flex;
  justify-content: end;
}
button:disabled {
  background-color: transparent !important;
  opacity: 0.6 !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
}
input:disabled {
  background-color: #0404041f !important;
  color: #374151 !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}
.border-red-500 {
  border-color: rgb(245 75 74) !important;
}
.border-red-500-datepicker input{
  border-color: rgb(245 75 74) !important;
}
.border-green-500 {
  border-color: rgb(45 206 137) !important;
}
.p-textarea:enabled:focus{
  border-color: inherit !important;
}
.p-iftalabel:has(input:focus) label, .p-iftalabel:has(input:-webkit-autofill) label, .p-iftalabel:has(textarea:focus) label, .p-iftalabel:has(.p-inputwrapper-focus) label {
  color: inherit !important;
}
.p-confirmdialog{
  max-width: 30% !important;
}

app-holiday-list,
app-document-list{
  .p-datatable-tbody > tr > td,
  .p-datatable-thead > tr > th{
    border-color: transparent !important;
  }
  .p-paginator-pages,
  .p-select-label,
  p-columnfilterformelement .p-inputtext{
    font-size: 10px !important;
  }
  .p-paginator .p-icon{
    width: 12px !important;
  }
}
.p-multiselect-option.p-multiselect-option-selected.p-focus {
  background: var(--second_button_background-color) !important;
}
.p-checkbox-checked .p-checkbox-box{
  border-color: var(--first_button_background-color) !important;
  background: var(--first_button_background-color) !important;
}
.p-multiselect-option.p-multiselect-option-selected {
  background: var(--second_button_background-color) !important;
  color: var(--p-multiselect-option-focus-color) !important;
}
.p-multiselect{
  border: 1px solid var(--second_button_background-color) !important;
}
.p-button-outlined {
  border-color: var(--first_button_background-color) !important;
  color: var(--first_button_background-color) !important;
}
.p-button:not(.p-button-outlined,.p-button-icon-only){
  background: var(--first_button_background-color) !important;
  border-color: var(--second_button_background-color) !important;
}
.p-button-outlined:hover {
  background: transparent !important;
  border-color: var(--second_button_background-color) !important;
  color: var(--second_button_background-color) !important;
}

.p-datepicker-day-selected {
  background: var(--first_button_background-color) !important;
}
.p-datepicker-day-selected-range {
  color: var(--second_button_background-color) !important;
  background: transparent !important;
}
app-notifications-list{
  .p-datatable-tbody > tr > td,
  .p-datatable-thead > tr > th{
    border-color: transparent !important;
  }
  .p-paginator-pages,
  .p-select-label,
  p-columnfilterformelement .p-inputtext{
    font-size: 10px !important;
  }
  .p-paginator .p-icon{
    width: 12px !important;
  }
}
