@use 'large' as *;
.p-fileupload-advanced {
  border: 0px solid transparent !important;
}

p-button .p-fileupload-choose-button{
  background: #2D3887 !important;
  border: 1px solid #2D3887;
}
.p-organizationchart-node-selected{
  color: #2D3887 !important;
}
a {
  all: unset;
  cursor: pointer;
}
.card{
  all: unset;
}
.p-select-option.p-select-option-selected {
    background: #d5c972 !important;
    color: #000000f0 !important;
}

.p-inputtext:focus {
  border-color: inherit !important;
}
.p-select:not(.p-disabled).p-focus {
  border-color: inherit !important;
}
.invalid-form{
  border-color: rgb(245 75 74) !important;
}
.spinner-overlay {
  background-color: rgb(0 0 0 / 36%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  backdrop-filter: blur(1px);
}

.p-button-link {
  color: #344767 !important;
}
.p-button-link:hover {
  color: #7b7c46 !important;
}
.p-button-link:not(:disabled):hover .p-button-label {
  text-decoration: none !important;
}
.resend-code-button{
  display: flex;
  justify-content: end;
}
button:disabled {
  background-color: transparent !important;
  opacity: 0.6 !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
}
input:disabled {
  background-color: #0404041f !important;
  color: #374151 !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}
.border-red-500 {
  border-color: rgb(245 75 74) !important;
}
.border-green-500 {
  border-color: rgb(45 206 137) !important;
}
.p-textarea:enabled:focus{
  border-color: inherit !important;
}
.p-iftalabel:has(input:focus) label, .p-iftalabel:has(input:-webkit-autofill) label, .p-iftalabel:has(textarea:focus) label, .p-iftalabel:has(.p-inputwrapper-focus) label {
  color: inherit !important;
}
